
<!DOCTYPE html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <title>Twubric - Teamie Demo</title>
  <meta name="description" content=""/>
  <meta name="viewport" content="width=device-width"/>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css"/>
  <!-- <link rel="stylesheet" href="styles/bootstrap-datepicker3.min.css"/> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.13/daterangepicker.min.css" />
</head>   
<body ng-app="twubricApp" ng-controller="homecontroller as vm">

  <!--[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  <![endif]-->

  <!--[if lt IE 9]>
      <script src="scripts/vendor/es5-shim.min.js"></script>
      <script src="scripts/vendor/json3.min.js"></script>
  <![endif]-->

  
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="main-title"><span>TwuBric</span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div class="">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 btn-group" opt-kind="" ok-key="sortBy">
          <p class="sortby-label"><span>Sort By : </span></p>
          <button type="button" data-value="total" ng-click="vm.highlightTag($event)" class="btn btn-default toggle-btn"  ok-sel="[total]" ok-type="integer">Twubric Score</button>
          <button type="button" data-value="friends" ng-click="vm.highlightTag($event)" class="btn btn-default toggle-btn" ok-sel="[friends]" ok-type="integer">Friends</button>
          <button data-value="influence" ng-click="vm.highlightTag($event)" class="btn btn-default toggle-btn" ok-sel="[influence]" ok-type="integer">Influence</button>
          <button data-value="chirpiness" ng-click="vm.highlightTag($event)" class="btn btn-default toggle-btn" ok-sel="[chirpiness]" ok-type="float">Chirpiness</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 join-date-box">
          <div class="col-md-12 form-group form-group-filled sortbox" id="event_period" >
            <p><span class="date-filter-label">Joined Twitter Between</span></p>
<!--             <div class="col-md-6"><input type="text" class="actual_range form-control" id="start-date-input" class="" placeholder="Pick Start Date"></div>
            <div class="col-md-6"><input type="text" class="actual_range form-control" id="end-date-input" placeholder="Pick End Date"></div>
          </div> -->
          <div class="col-md-10">
            <input date-range-picker id="daterange1" name="daterange1" class="form-control date-picker" type="text" ng-model="date">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-11 col-md-offset-1 grid-container ng-cloak" id="isotopeContainer" isotope-container="isotope-container" ng-cloak>
          <!-- <ul isotope-container="isotope-container"> -->
              <!-- <li ng-repeat="x in vm.twitterData" isotope-item="isotope-item" onclick="removeItem(this)">
                  <div class="names">{{x.username}}</div>
              </li> -->

           <div class="col-md-3 grid-box kindling" ng-repeat="data in vm.twitterData" isotope-item="isotope-item">
            <div class="grid-block">
              <div class="grid-block-header">
                <p><span>{{data.fullname}}</span><span style="float:right" class="total" total="{{data.twubric.total}}">{{data.twubric.total}}</span></p>
              </div>
              <div class="grid-block-mid clearfix">
                <div class="grid-block-mid-box">
                  <p class="friends" friends="{{data.twubric.friends}}"><span>{{data.twubric.friends}}</span></p>
                  <p><span>Friends</span></p>
                </div>
                <div class="grid-block-mid-box">
                  <p class="influence" influence="{{data.twubric.influence}}"><span>{{data.twubric.influence}}</span></p>
                  <p><span>Influence</span></p>
                </div>
                <div class="grid-block-mid-box">
                  <p class="chirpiness" chirpiness="{{data.twubric.chirpiness}}"><span>{{data.twubric.chirpiness}}</span></p>
                  <p><span>Chirpiness</span></p>
                </div>
              </div>
                <div class="grid-block-footer clearfix">
                <div class="grid-block-footer-left"><p class="date" date="{{data.join_date}}">{{data.join_date | date}}</p></div>
                <div class="grid-block-footer-right"><a ng-click="vm.removeElement($event)" class="uid" uid="{{data.uid}}">Remove</a></div>
              </div>
            </div>
           </div>

        </div>
      </div>
    </div>
  </div>



  <script src="scripts/jquery.min.js"></script>

  <script src="scripts/angular.min.js"></script>
  <script src="scripts/jquery.isotope.js"></script>
  <script src="scripts/angular-isotope.js"></script>
  <script src="scripts/app.js"></script>
  <!-- <script src="scripts/bootstrap-datepicker.min.js"></script> -->
  
  <!-- factories -->
  <script src="localdata.factory.js"></script>

  <!-- controllers -->
  <script src="homecontroller.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.13/daterangepicker.min.js"></script>
  <script src="scripts/angular-daterangepicker.min.js"></script>

</body>
</html>
